@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#4932D5];
  }
}

.mono {
  font-family: 'SF Mono', sans-serif;
}

.calibre {
  font-family: 'Calibre', sans-serif;
}

section {
	display: grid;
	place-items: center;
	height: 100vh;
	font-size: 32px;
	font-weight: bold;
}